#dabox {
	border-radius: 20px;
	width: 50%;
	height: 30%;
	min-width: 600px;
	min-height: 400px;
	max-height: 600px;
	max-width: 800px;
	margin: auto;
	background: white;

	background-color: black;
	text-align: center;
	position: absolute;
    top: 25%;
    left: 12.5%;
	right: 12.5%;
}
.title{
	text-align: center;
	color:black;
	position: absolute;
    top: -64px;
	left: 15%;
	font-size: 64px;
	font-weight: bold;
}
.bg { 
	/*background stuff */
	background: url(../images/background1.png) no-repeat center;
	height: 100%; 
	width: 100%;
	background-size: cover;
}
.textlabel{
	border: none;
  border-radius: 8px;
  color: white;
  margin-top: 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  position:relative;
  top: 50px;
}
.textinput{
  border: none;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position:right;

  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  position:relative;

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 8px;
  margin-right: 40px;
	margin-left: 40px;
  color: white;
  padding: 40px 64px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position:relative;
  top:120px;
}