body{
	font-family: "Helvetica";
	color: #222222;
	/*background stuff */
	/*background stuff */
	background: url(../images/background1.png) no-repeat center;
	height: 100%; 
	width: 100%;
	background-size: cover;
}

.mainBox{
	min-width: 800px;
	max-width: 800px;
	margin: auto;
	background-color: lightblue;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: white;
}

div.IDBar{
	min-height: 50px;
	max-height: 50px;
	min-width: 800px;
	max-width: 800px;
	margin: auto;
	background-color: lightblue;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	text-align: center;
}


div.userList{
	min-width: 150px;
	max-width: 150px;
	min-height: 250px;
	max-height: 250px;
	background-color: lightblue;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	position: absolute;
	top:0;
	right:0;
	float:right;
}

label.UserLabel{
	font-weight: bold;
}

div.chatBox{
	min-height: 550px;
	max-height: 550px;
	min-width: 800px;
	max-width: 800px;
	margin: auto;
	background-color: lightblue;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	padding-right: 10px;
	word-break: break-all;
}